requests
geojson
psycopg2
geodaisy
area
cloudpickle
geopy
gdal == 3.5.0
nasa_wildfires
geopandas
shapely
matplotlib
numpy
psycopg2
sqlalchemy
rq
pyodk
base64 @git+https://github.com/mayeut/pybase64.git
glob
segno @ git+https://github.com/heuer/segno.git
typing
boto3==1.35.72
